.container-fluid{
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
}

.navbar-brand{
    margin-left:7%;
    padding: 2vw;
}

#hero{
    padding: 4vw;
    bottom:0;
    transform:translate(5%,25%);
}


.btn {
    background-color: white;
    border-color:gainsboro;
    color:black;
    font-size: large;
}

#print{
    background-color: #06C58B !important;
    border-radius: 15px;
    color:white;
    font-size: larger;
    margin-top:4.5vw;
    padding: 15px;
}

img{
    width:100%;
    transform:translate(-50%,-20%) !important;
}

#dropdownMenuLink:hover {
    background-color: #06C58B;
}
